@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #cfdfde;
  --foreground: #171717;
  --gradient: linear-gradient(to bottom right, #cfdfde, #3d7377);
}

body {
  color: var(--foreground);
  background: var(--background);
}
